*{
		margin: 10px;
		padding: 10px;
		color: red
	}
	#divStyle{

		/*background-image: url("fly (2).png");  全重复*/
		background-image: url("fly (2).png");
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid;
		width: 800px;
		height: 1000px;
		color: red;
		font-size: small;;
		font-weight: 9;
		
		float: right;
	}
	.divClass{
		/*position: absolute; 绝对的 */
		position: relative;
		/*position: fixed;*/

		position: 
		border: 1px dashed;
		width: 60%;
		height: 30%;
		color:  orange;

		float: right;
	}
	